@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

@import "tailwindcss";

@theme {
  --font-sora: "Sora", "sans-serif";
  --font-inter: "Inter", "sans-serif";

  --color-plivo-purple: #cd3ef9;
  --color-plivo-blue: #323dfe;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap, 1rem)));
    }
  }
}

@layer utilities {
  body {
    font-family: var(--font-inter), sans-serif;
  }

  h1,
  h2 {
    font-family: var(--font-sora), sans-serif;
  }

  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-inter), sans-serif;
  }
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
